services:
  nginx:
    image: nginx:alpine
    ports:
      - "85:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - resumehack-net

  frontend:
    image: ghcr.io/khangpt2k6/navicv-frontend:latest
    networks:
      - resumehack-net

  backend:
    image: ghcr.io/khangpt2k6/navicv-backend:latest
    networks:
      - resumehack-net

networks:
  resumehack-net:
    driver: bridge
