version: "3.8"

services:
  nginx:
    image: nginx:alpine
    ports:
      - "85:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - resumehack-net

  frontend:
    build: ./frontend
    expose:
      - "3000"
    networks:
      - resumehack-net

  backend:
    build: ./backend
    expose:
      - "8000"
    networks:
      - resumehack-net

networks:
  resumehack-net:
    driver: bridge
