version: "3.8"

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - resumehack-net

  frontend:
    image: ghcr.io/khangpt2k6/acm_resumehack-frontend:latest
    expose:
      - "3000"
    networks:
      - resumehack-net

  backend:
    image: ghcr.io/khangpt2k6/acm_resumehack-backend:latest
    expose:
      - "8000"
    networks:
      - resumehack-net

networks:
  resumehack-net:
    driver: bridge
